<ion-view view-title="Wisereader">



 <ion-content>
 
 <div class="header-image" style="">
  </div> 
 

 <label class="item item-input topSearch">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search a book" ng-model="searchBook">
    </label>




  <h3 class="head"> Latest Books </h3>


 <div class="list card" ng-repeat="book in books | filter:searchBook" >

          <div class="item item-body">
            <img class="full-image" ng-src="{{book.imgUrl}}" href="#books">
            
             <h2 class="text-center">{{book.title}}</h2>
            <p>
              {{book.shortDesc}}
            </p>
          
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="{{book.pdfUrl}}">
              <i class="icon ion-ios-book"></i>
              Read
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-heart"></i>
              Save
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-star"></i>
              Review
            </a>
          </div>

  </div>


 
<!--
    <ion-list>
      <ion-item ng-repeat="book in books" href="{{book.pdfUrl}}">
       <img ng-src=" {{book.imgUrl}}" />
      </ion-item>
    </ion-list>
  
 -->








 <!-- <a class="item item-list-detail">
      <ion-scroll direction="x">
        <div  ng-repeat="book in books">
        <img ng-src="{{book.imgUrl}}" width="100%" />
        </div>
      </ion-scroll>
    </a>
 -->
    

<!-- 
<table class="table">
<thead>
	<th ng-repeat="book in books" >{{book.imgUrl}}</th>
</thead>
<tbody>


	<tr>
		<td ng-repeat="book in books" >{{book.title}}</td>
	</tr>
</tbody>
</table> -->

 


 <!-- <div class="row header" ng-repeat="book in books">
          <div class="col">{{book.id}}</div>
          
        </div>


<div class="row" ng-repeat="book in books">
 
 <div class="col">{{book.title}}</div>
	
</div> -->



<!-- <ion-list>

<ion-item ng-repeat="book in books" href="#/app/books/{{book.id}}">
        {{book.title}}
      </ion-item>
    </ion-list> -->

<!-- <ion-item ng-repeat="book in books" href="#/app/books/{{book.id}}">
        <img ng-src="{{book.imgUrl}}" class="image-list-thumb"/>
      </ion-item>
    </ion-list>  -->

<!-- <ion-list>
<ion-item>
    <img ng-repeat="book in books" ng-src="{{book.imgUrl}}" ng-click="" class="image-list-thumb"/>
  </ion-item>
 </ion-list> -->









  
  </ion-content>
</ion-view>
