<ion-view view-title="Wisereader">
  <ion-content>


    <ion-list>
      <ion-item ng-repeat="book in books" href="{{book.pdfUrl}}">
       <img ng-src=" {{book.imgUrl}}" />
      </ion-item>
    </ion-list>
  


 <!-- <a class="item item-list-detail">
      <ion-scroll direction="x">
        <div  ng-repeat="book in books">
        <img ng-src="{{book.imgUrl}}" width="100%" />
        </div>
      </ion-scroll>
    </a>
 -->
    

<!-- 
<table class="table">
<thead>
	<th ng-repeat="book in books" >{{book.imgUrl}}</th>
</thead>
<tbody>


	<tr>
		<td ng-repeat="book in books" >{{book.title}}</td>
	</tr>
</tbody>
</table> -->

 


 <!-- <div class="row header" ng-repeat="book in books">
          <div class="col">{{book.id}}</div>
          
        </div>


<div class="row" ng-repeat="book in books">
 
 <div class="col">{{book.title}}</div>
	
</div> -->



<!-- <ion-list>

<ion-item ng-repeat="book in books" href="#/app/books/{{book.id}}">
        {{book.title}}
      </ion-item>
    </ion-list> -->

<!-- <ion-item ng-repeat="book in books" href="#/app/books/{{book.id}}">
        <img ng-src="{{book.imgUrl}}" class="image-list-thumb"/>
      </ion-item>
    </ion-list>  -->

<!-- <ion-list>
<ion-item>
    <img ng-repeat="book in books" ng-src="{{book.imgUrl}}" ng-click="" class="image-list-thumb"/>
  </ion-item>
 </ion-list> -->









  
  </ion-content>
</ion-view>
