img {
	width: 350px;
	height: 500px;
}
.header-image {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/header.jpg');
    text-align: center;
}

.ion-ios-book {
	color: green;
}

.ion-heart{
	color: red;
}

.ion-star{
	color: orange;
}

.head {
	font-family: 'tahoma'
}