img {
	width: 350px;
	height: 500px;
}
.header-image {
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/wisereader.jpg');
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}

.ion-ios-book {
	color: green;
}

.ion-heart{
	color: red;
}

.ion-star{
	color: orange;
}

.head {
	font-family: 'tahoma'
}

.topSearch {
	margin: 5px;
}

.float-button {
 
background-color:blue;
opacity: 0.9;
color: white;
border-radius: 50%;
/*border-radius:15% 0 0 0;*/
width: 30px;
padding: 25px;
font-size: 40px;
position: fixed;
bottom: 5%; /* Adjust height */
right: 8%; /* Adjust position */
z-index: 1000;
}
 
.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}
 
.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}

.title {
    margin-bottom: -20px;
}